<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::head}"></head>
<body>
<nav th:replace="~{layout::nav-bar-book}"></nav>
<div id="form-container" class="bg-white">
    <form th:action="@{/create}" method="post" th:object="${book}">
        <input type="hidden" th:field="*{id}">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Title" th:field="*{title}">
                <small th:errors="*{title}"></small>
            </div>
            <div class="form-group col-md-6">
                <label for="quantity">Quantity</label>
                <input type="number" class="form-control" id="quantity" placeholder="Quantity" th:field="*{quantity}">
                <small th:errors="*{quantity}"></small>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="author">Author</label>
                <input type="text" class="form-control" id="author" placeholder="Author" th:field="*{author}">
                <small th:errors="*{author}"></small>
            </div>
            <div class="form-group col-md-6">
                <label for="describe">describe</label>
                <textarea type="text" class="form-control" id="describe" placeholder="describe" th:field="*{describeBook}"></textarea>
                <small th:errors="*{describeBook}"></small>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add book</button>
    </form>
</div>
</body>
</html>