<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Product List</title>
</head>
<body>
<a th:href="@{/create}">Create New Product</a>
<div th:each="product: ${productList}">
    <a th:href="@{/view/{id}(id=${product.productId})}">
        <span th:text="${product.productId}"></span>
        <span th:text="${product.productName}"></span>
        <span th:text="${product.productDescription}"></span>
        <span th:text="${product.productPrice}"></span>
        <span th:text="${product.productDiscount}"></span>
        <img th:src="${product.productImage}" th:alt="image"/>
    </a>
</div>
</body>
</html>